body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #203a43, #0f2027);
  color: white;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 750px;
  padding: 40px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 0px 30px rgba(0,0,0,0.4);
}

h1 {
  font-size: 2.5rem;
}

.subtext {
  opacity: 0.8;
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  margin-top: 15px;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-top: 8px;
}

.title {
  font-size: 2rem;
  margin-bottom: 25px;
}

.scheme-card {
  background: rgba(255,255,255,0.15);
  padding: 18px;
  margin: 15px 0;
  border-radius: 18px;
}

.apply-btn {
  margin-top: 10px;
  padding: 10px 22px;
  border: none;
  border-radius: 12px;
  background: lime;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.btn {
  margin-top: 20px;
  padding: 14px 30px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  background: #00ffcc;
  width: 100%;
  max-width: 250px;
}

.danger {
  background: orange;
}

.report {
  background: crimson;
  color: white;
}

.meter {
  width: 100%;
  height: 18px;
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
  overflow: hidden;
  margin: 15px 0;
}

.fill {
  height: 100%;
  width: 25%;
  background: red;
}

.animated {
  animation: grow 2s ease;
}

@keyframes grow {
  from { width: 0; }
  to { width: 25%; }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.popup-box {
  width: 100%;
  max-width: 420px;
  background: white;
  color: black;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.close-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 12px;
  background: #00ffcc;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

@media (max-width: 600px) {
  .box {
    padding: 25px;
  }

  h1 {
    font-size: 2rem;
  }

  .title {
    font-size: 1.6rem;
  }
}
